@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Sancreek&display=swap');

* {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    align-items: baseline;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 1em;
    width: 50%;
    height: 90vh;
    border-radius: 0px 0px 30px 30px;
    background: #f46b45;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ffe162, #ffbf40);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ffe162, #ffbf40); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    font-family: 'Sancreek', cursive;
    color: black;
    margin-bottom: 0.5em;
    
}

h2 {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 1.5em;
    text-align: center;
}

h3 {
    margin-bottom: 1em;
    font-family: 'Goudy Bookletter 1911', serif;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin: 0.3rem;
}

input {
    padding: 1rem;
    border-radius: 10px;
    border: none;
}

label {
    margin: 0.5rem;
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 1.2em;
}

.buttonClass {
    font-size: 1.2em;
    font-family:Arial, Helvetica, sans-serif;
    width:140px;
    height:50px;
    color:white;
    border-radius: 15px;
    background: #f46b45;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ffe162, #ffbf40);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ffe162, #ffbf40); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    cursor: pointer;
    margin-top: 1em;
}

.buttonClass:hover {
    background: #ffdc3fcc;
}

#monitor {
    position: relative;
    margin-top: 2em;
}

.bloco-resultado {
    display: flex;
    align-items: center;
}

.bloco-resultado img {
    width: 24px;
}

p {
    margin: 0.3em;
    font-size: 1.1em;
}
                
img {
    width: 570px;
}

.item {
    order: 1;
    flex-shrink: 2;
}

.item-1 {
    order: 2;
}

@media screen and (max-width: 767px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .container {
        width: 80%;
        margin-bottom: 2em;
    }

    h2 {
        order: 1;
        margin: auto;
    }

    img {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .container {
        width: 80%;
        margin-bottom: 2em;
    }

    h2 {
        order: 1;
        margin: auto;
    }

    img {
        width: 100%;
    }
}

@media screen and (min-width: 1536px) {
    .container {
        width: 60%;
        height: 70vh;
    }

}